<% if @item.valid? %>
  $('.js-active-tasks').append("<%= escape_javascript(render(@item)) %>");
  $('.flash').prepend("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:notice] %></div>");
  $('.new-task').html("<%= escape_javascript(render 'items/form', item: @new_item, user: @user) %>");
<% else %>
  $('.flash').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:error] %></div>");
  $('.new-task').html("<%= escape_javascript(render 'items/form', item: @item, user: @user) %>");
<% end %>
